<section>
  <div class="p-4">
    <div
      class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-4 xl:grid-cols-4 xl:grid-rows-4"
    >
      <div
        class="lg:row-span-1 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="relative flex items-center gap-x-2">
          <img
            src="/images/ .jpg"
            alt=""
            class="h-10 w-10 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-primary dark:text-white">
              <a href="#">
                <span class="absolute inset-0"></span>
                Status Window 
              </a>
            </p>
            <p class="text-zinc-500 dark:text-zinc-400">
            </p>
          </div>
        </div>
        <p class="text-2xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white">  </p>
        <p
          class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        > <b class="text-white">Name --  </b> Akshat Pande <br/>
        <b class="text-white">Class --  </b> Newbie Programmer <br/>
        <b class="text-white">Level --  </b> 001<br/>
        <b class="text-white">Experience --  </b> 000 / 1000 <br/>
        </p>

        <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"> 
          <b class="text-white">Health --  </b> 100 / 100 <br />
          <b class="text-white">Mana --  </b> 100 / 100 <br />
          <b class="text-white">Stamina --  </b> 100 / 100 <br />
        </p>
        <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"> 
          <b class="text-white">Strength --  </b> 10 <br/>
          <b class="text-white">Intelligence --  </b> 15 <br/>
          <b class="text-white">Agility --  </b> 10 <br/>
          <b class="text-white">Charisma --  </b> 7 <br/>
          <b class="text-white">Luck --  </b> 15 <br/>
        </p>

      </div>
      <div
      class="lg:row-span-1 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
    >
      <div class="relative flex items-center gap-x-2">
        <img
          src="/images/ .jpg"
          alt=""
          class="h-10 w-10 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
        />
        <div class="text-sm leading-6">
          <p class="font-semibold text-primary dark:text-white lg:text-3xl">
            <a href="#">
              <span class="absolute inset-0 lg:text-4xl"></span>
              Skills/Talents 
            </a>
          </p>
          <p class="text-zinc-500 dark:text-zinc-400">
          </p>
        </div>
      </div>
      <div class="w-full">
        <p
          class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
        > </p>
        <br />
        <p class="text-white"> -- Mystic Empathy  <b class="text-gray-50">--[S+]</b></p> 
        <p class="text-white"> -- Critical Insight <b class="text-gray-50">--[S]</b></p> 
        <p class="text-white"> -- Lyrical Wordsmith <b class="text-gray-50">--[A]</b></p> 
        <p class="text-white"> -- Zen Resilience  <b class="text-gray-50">--[S]</b></p> 
        <p class="text-white"> -- Ethereal Harmony  <b class="text-gray-50">--[S]</b></p> 
        <br /> <br /> 
        <div class="relative flex items-center gap-x-2">
          <img
            src="/images/ .jpg"
            alt=""
            class="h-10 w-10 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-primary dark:text-white lg:text-3xl">
              <a href="#">
                <span class="absolute inset-0 lg:text-4xl"></span>
               Status Effects
              </a>
            </p>
            <p class="text-zinc-500 dark:text-zinc-400">
            </p>
          </div>
        </div>
        <br />
      <p class="text-white"> -- Distracted Mind <b class="text-gray-50">--[S+]</b></p>
      <p class="text-white"> -- Hope-ful/less Romantic <b class="text-gray-50">--[S]</b></p>
      <p class="text-white"> -- Eternal Debt <b class="text-gray-50">--[A]</b></p>
      <p class="text-white"> -- Eclipsed Soul <b class="text-gray-50">--[S]</b></p>
      <p class="text-white"> -- Echoes of the Past <b class="text-gray-50">--[S]</b></p>
      </div>
    </div>

    <div
    class="lg:row-span-1 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
  >
    <div class="relative flex items-center gap-x-2">
      <img
        src="/images/ .jpg"
        alt=""
        class="h-10 w-10 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
      />
      <div class="text-sm leading-6">
        <p class="font-semibold text-primary dark:text-white lg:text-3xl">
          <a href="#">
            <span class="absolute inset-0 lg:text-4xl"></span>
            Ongoing 
          </a>
        </p>
        <p class="text-zinc-500 dark:text-zinc-400">
        </p>
      </div>
    </div>
    <div class="w-full">
      <br />
      <p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > StoryLine </p>
      <p class="text-white"> -- UK Chronicles  <b class="text-gray-50">--[60%]</b></p> <br/>
      <p
      class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
    > Project </p>
    <p class="text-white"> -- Status Window <b class="text-gray-50">--[40%]</b></p> 
    <p class="text-white"> -- AnimeWisdomVault <b class="text-gray-50">--[20%]</b></p>
    <br/>
    <p
    class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
  > Business </p>
  <p class="text-white"> -- EXP-ER Ltd  <b class="text-gray-50">--[20%]</b></p> <br/>
  <p
  class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
> Odyssey </p>
<p class="text-white"> -- Preface  <b class="text-gray-50">--[80%]</b></p> <br/>
    </div>
      </div>

      <div
      class="lg:row-span-1 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
    >
      <div class="relative flex items-center gap-x-2">
        <img
          src="/images/ .jpg"
          alt=""
          class="h-10 w-10 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
        />
        <div class="text-sm leading-6">
          <p class="font-semibold text-primary dark:text-white lg:text-3xl">
            <a href="#">
              <span class="absolute inset-0 lg:text-4xl"></span>
              Campaign 
            </a>
          </p>
          <p class="text-zinc-500 dark:text-zinc-400">
          </p>
        </div>
      </div>
      <div class="w-full">
        <br />
        <p
          class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
        > UK Chronicles </p>
        <p class="text-white"> -- Status=[Ongoing]  <b class="text-gray-50">--[60%]</b></p> <br/>
        <p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Indian Chronicles </p>
      <p class="text-white"> -- Status=[Paused]  <b class="text-gray-50">--[70%]</b></p> <br/>
      <p
      class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Australian Chronicles </p>
        <p class="text-white"> -- Status=[Planning]  <b class="text-gray-50">--[0%]</b></p> <br/>

      <p
      class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > European Chronicles </p>
      <p class="text-white"> -- Status=[Paused]  <b class="text-gray-50">--[6%]</b></p> <br/>

      <p
      class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
    > International Chronicles </p>
    <p class="text-white"> -- Status=[Planning]  <b class="text-gray-50">--[0%]</b></p> <br/>

      </div>
    </div>

    <div
    class="lg:row-span-1 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
    >
    <div class="relative flex items-center gap-x-2">
      <img
        src="/images/ .jpg"
        alt=""
        class="h-10 w-10 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
      />
      <div class="text-sm leading-6">
        <p class="font-semibold text-primary dark:text-white lg:text-3xl">
          <a href="#">
            <span class="absolute inset-0 lg:text-4xl"></span>
            Projects 
          </a>
        </p>
        <p class="text-zinc-500 dark:text-zinc-400">
        </p>
      </div>
    </div>
    <div class="w-full">
      <br />
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Status-Window </p> </a></br>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > AnimeWisdomVault </p> </a></br>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Currency Change </p> </a></br>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Carbon Activity </p> </a></br>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Carbon Chain </p> </a></br>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Cheat Engine </p> </a></br>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > BSE-Simulation </p> </a></br>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Music-Genre AI </p> </a></br>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > WikiData</p> </a></br>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Budget Planner</p> </a></br>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Astrology </p> </a></br>

    </div>
    </div>

    <div
    class="lg:row-span-1 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
    >
    <div class="relative flex items-center gap-x-2">
      <img
        src="/images/ .jpg"
        alt=""
        class="h-10 w-10 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
      />
      <div class="text-sm leading-6">
        <p class="font-semibold text-primary dark:text-white lg:text-3xl">
          <a href="#">
            <span class="absolute inset-0 lg:text-4xl"></span>
            EXP-ER LTD 
          </a>
        </p>
        <p class="text-zinc-500 dark:text-zinc-400">
        </p>
      </div>
    </div>
    <div class="w-full">
      <br />
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > EXP-ER Ltd </p> </a>
      <p class="text-white"> -- Under Construction  <b class="text-gray-50">--[20%]</b></p> <br/>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Jiva Jewellery</p> </a>
      <p class="text-white"> -- Planning  <b class="text-gray-50">--[0%]</b></p> <br/>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Art.Runa</p> </a>
      <p class="text-white"> -- Under Construction  <b class="text-gray-50">--[10%]</b></p> <br/>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > PandeAkshat</p> </a>
      <p class="text-white"> -- In Progress  <b class="text-gray-50">--[30%]</b></p> <br/>
      <a href="#"><p
        class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-3xl"
      > Shaw Solicitor </p> </a>
      <p class="text-white"> -- Planning  <b class="text-gray-50">--[4%]</b></p> <br/>
    </div>
    </div>
      <div
        class="lg:col-span-3 xl:col-span-1 h-full flex flex-col justify-between sm:row-span-1 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-3xl"
        >
          As a gamer, writer, programmer, and designer, I am passionate about this never-ending project Status-Window. 
          It is included in my portfolio, mentioned in the newsletter (link to join below), and is a part of my odyssey as a living being.
          <br />
          <br />
          The values for all these will be updated on a regular basis, through personal and professional growth, and the experiences I gain from the world around me.
          I will include a link to a wiki page, which showcases the meaning and how each value is defined and some additional details about it.
          It will also include a notification or quest sheet that shows when the value was updated and why it was updated. 
          <br />
          <br />
          <br />
          For any suggestions and feedback, please feel free to reach out to me on my social media.
        </p>
        <p>
          <div class="grid mt-4 grid-cols-4 md:grid-cols-4 lg:grid-cols-8 gap-y-4 gap-4 justify-center w-full">
            <a
              href="mailto:akshat.pande@outlook.com" target="_blank"
              class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-mail h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
                viewBox="0 0 24 24"
                stroke-width="0.8"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
                ></path><path d="M3 7l9 6l9 -6"></path></svg
              >
            </a>
            <a
              href="https://www.github.com/pandeakshat" target="_blank"
              class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-github h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
                viewBox="0 0 24 24"
                stroke-width="0.8"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path></svg
              >
            </a>
            <a
              href="https://www.medium.com/@pandeakshat" target="_blank"
              class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-behance h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
                viewBox="0 0 24 24"
                stroke-width="0.8"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M13 12C13 15.3137 10.3137 18 7 18C3.68629 18 1 15.3137 1 12C1 8.68629 3.68629 6 7 6C10.3137 6 13 8.68629 13 12Z" fill="#0F0F0F"></path> <path d="M23 12C23 14.7614 22.5523 17 22 17C21.4477 17 21 14.7614 21 12C21 9.23858 21.4477 7 22 7C22.5523 7 23 9.23858 23 12Z" fill="#0F0F0F"></path> <path d="M17 18C18.6569 18 20 15.3137 20 12C20 8.68629 18.6569 6 17 6C15.3431 6 14 8.68629 14 12C14 15.3137 15.3431 18 17 18Z" fill="#0F0F0F"></path> </g></svg
              >
            </a>
            <a
              href="https://exp-er.beehiiv.com/" target="_blank"
              class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-threads h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
                viewBox="0 0 24 24"
                stroke-width="0.8"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                > <svg fill="#ffffff" viewBox="0 0 512 512" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="_x31_3_x2C__newsletter_x2C__newspaper_x2C__article_x2C__blog_x2C__news_paper"> <g id="XMLID_858_"> <g id="XMLID_148_"> <path d="M363.5,233.5h-270c-2.761,0-5-2.239-5-5v-75c0-2.761,2.239-5,5-5h270c2.762,0,5,2.239,5,5v75 C368.5,231.261,366.262,233.5,363.5,233.5z M98.5,223.5h260v-65h-260V223.5z" id="XMLID_598_"></path> </g> <g id="XMLID_147_"> <path d="M183.5,338.5h-90c-2.761,0-5-2.238-5-5v-60c0-2.762,2.239-5,5-5h90c2.761,0,5,2.238,5,5v60 C188.5,336.262,186.261,338.5,183.5,338.5z M98.5,328.5h80v-50h-80V328.5z" id="XMLID_595_"></path> </g> <g id="XMLID_146_"> <path d="M273.5,338.5h-90c-2.761,0-5-2.238-5-5v-60c0-2.762,2.239-5,5-5h90c2.762,0,5,2.238,5,5v60 C278.5,336.262,276.262,338.5,273.5,338.5z M188.5,328.5h80v-50h-80V328.5z" id="XMLID_592_"></path> </g> <g id="XMLID_145_"> <path d="M363.5,338.5h-90c-2.762,0-5-2.238-5-5v-60c0-2.762,2.238-5,5-5h90c2.762,0,5,2.238,5,5v60 C368.5,336.262,366.262,338.5,363.5,338.5z M278.5,328.5h80v-50h-80V328.5z" id="XMLID_589_"></path> </g> <g id="XMLID_144_"> <path d="M168.5,363.5h-65c-2.761,0-5-2.238-5-5s2.239-5,5-5h65c2.761,0,5,2.238,5,5S171.261,363.5,168.5,363.5z" id="XMLID_588_"></path> </g> <g id="XMLID_143_"> <path d="M263.5,363.5h-65c-2.761,0-5-2.238-5-5s2.239-5,5-5h65c2.762,0,5,2.238,5,5S266.262,363.5,263.5,363.5z" id="XMLID_587_"></path> </g> <g id="XMLID_142_"> <path d="M358.5,363.5h-65c-2.762,0-5-2.238-5-5s2.238-5,5-5h65c2.762,0,5,2.238,5,5S361.262,363.5,358.5,363.5z" id="XMLID_586_"></path> </g> <g id="XMLID_141_"> <path d="M168.5,388.5h-65c-2.761,0-5-2.238-5-5s2.239-5,5-5h65c2.761,0,5,2.238,5,5S171.261,388.5,168.5,388.5z" id="XMLID_585_"></path> </g> <g id="XMLID_140_"> <path d="M263.5,388.5h-65c-2.761,0-5-2.238-5-5s2.239-5,5-5h65c2.762,0,5,2.238,5,5S266.262,388.5,263.5,388.5z" id="XMLID_584_"></path> </g> <g id="XMLID_139_"> <path d="M358.5,388.5h-65c-2.762,0-5-2.238-5-5s2.238-5,5-5h65c2.762,0,5,2.238,5,5S361.262,388.5,358.5,388.5z" id="XMLID_583_"></path> </g> <g id="XMLID_138_"> <path d="M168.5,413.5h-65c-2.761,0-5-2.238-5-5s2.239-5,5-5h65c2.761,0,5,2.238,5,5S171.261,413.5,168.5,413.5z" id="XMLID_582_"></path> </g> <g id="XMLID_137_"> <path d="M263.5,413.5h-65c-2.761,0-5-2.238-5-5s2.239-5,5-5h65c2.762,0,5,2.238,5,5S266.262,413.5,263.5,413.5z" id="XMLID_581_"></path> </g> <g id="XMLID_136_"> <path d="M358.5,413.5h-65c-2.762,0-5-2.238-5-5s2.238-5,5-5h65c2.762,0,5,2.238,5,5S361.262,413.5,358.5,413.5z" id="XMLID_580_"></path> </g> <g id="XMLID_135_"> <path d="M413.5,448.5h-370c-2.761,0-5-2.238-5-5v-325c0-2.761,2.239-5,5-5h370c2.762,0,5,2.239,5,5v325 C418.5,446.262,416.262,448.5,413.5,448.5z M48.5,438.5h360v-315h-360V438.5z" id="XMLID_577_"></path> </g> <g id="XMLID_134_"> <path d="M468.5,398.5h-55c-2.762,0-5-2.238-5-5s2.238-5,5-5h50v-315h-360v45c0,2.761-2.239,5-5,5s-5-2.239-5-5 v-50c0-2.761,2.239-5,5-5h370c2.762,0,5,2.239,5,5v325C473.5,396.262,471.262,398.5,468.5,398.5z" id="XMLID_576_"></path> </g> </g> </g> <g id="Layer_1"></g> </g></svg></svg
              >
            </a>
            <a
              href="https://pandeakshat.com" target="_blank"
              class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-dribbble"
                viewBox="0 0 24 24"
                stroke-width="0.8"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
                  d="M9 3.6c5 6 7 10.5 7.5 16.2"></path><path
                  d="M6.4 19c3.5 -3.5 6 -6.5 14.5 -6.4"></path><path
                  d="M3.1 10.75c5 0 9.814 -.38 15.314 -5"></path></svg
              >
            </a>
            <a
              href="https://twitter.com/iam_akshatpande" target="_blank"
              class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-x"
                viewBox="0 0 24 24"
                stroke-width="0.8"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
                  d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
              >
            </a>
            <a
              href="https://www.linkedin.com/in/pandeakshat/" target="_blank"
              class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-linkedin"
                viewBox="0 0 24 24"
                stroke-width="0.8"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
                ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"
                ></path><path d="M12 16l0 -5"></path><path
                  d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
              >
            </a><a
              href="https://www.youtube.com/@pandeakshat" target="_blank"
              class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-facebook"
                viewBox="0 0 24 24"
                stroke-width="0.8"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><svg viewBox="0 -3 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>youtube [#168]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-300.000000, -7442.000000)" fill="#ffffff"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M251.988432,7291.58588 L251.988432,7285.97425 C253.980638,7286.91168 255.523602,7287.8172 257.348463,7288.79353 C255.843351,7289.62824 253.980638,7290.56468 251.988432,7291.58588 M263.090998,7283.18289 C262.747343,7282.73013 262.161634,7282.37809 261.538073,7282.26141 C259.705243,7281.91336 248.270974,7281.91237 246.439141,7282.26141 C245.939097,7282.35515 245.493839,7282.58153 245.111335,7282.93357 C243.49964,7284.42947 244.004664,7292.45151 244.393145,7293.75096 C244.556505,7294.31342 244.767679,7294.71931 245.033639,7294.98558 C245.376298,7295.33761 245.845463,7295.57995 246.384355,7295.68865 C247.893451,7296.0008 255.668037,7296.17532 261.506198,7295.73552 C262.044094,7295.64178 262.520231,7295.39147 262.895762,7295.02447 C264.385932,7293.53455 264.28433,7285.06174 263.090998,7283.18289" id="youtube-[#168]"> </path> </g> </g> </g> </g></svg></svg
              >
            </a>
            
          </div>
        </p>
        <p class="text-primary dark:text-white mt-4">Akshat Pande</p>
        <br />
        <a
        href="#"  target="_blank"
        class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
      >
      <p class="text:white"><b class="text-white">Wiki</b></p>
      </a>
      </div>
    </div>
  </div>

</section>
