---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Wiki & Log">
    <main>    
    <h1>Wiki & <span class="text-gradient">Log</span></h1>
    <a href="/" class="storyline">Status Window</a>
    <p class="instructions">
        <strong>Log</strong> <br />
        <code> -- Experience - +10 - Updating Wiki.</code> <br>
        <code> -- Intelligence - +1 - Updating Wiki.</code> <br>
        <code> -- Updated Basic Stats in Wiki</code> <br>
    </p>
    
    <p class="instructions">
        <strong>Wiki</strong> <br /> <br />
        <code>---STR---</code> <br />
        <strong> _ </strong>
            <code>Weight: 71.90 Kg</code> <br /><strong> _ </strong> 
            <code>BMI: 23.0</code> <br /><strong> _ </strong>
            <code>Body Fat %: 13.6</code><br /> <strong> _ </strong>
            <code>Metabolic Age: 25</code> <br /> <br />
        <code>---INT---</code> <br />
            <strong> _ </strong>
            <code>Education: Masters</code><br> <strong> _ </strong>
            <code>Books Read: <br>__Blink(Malcolm Gladwell) <br>__What they don't teach you at Harvard Business School(Mark McCormack) <br> __Grand Design(Stephen Hawking)</code> <br /><strong> _ </strong> 
            <code> Journals Written: <br>__Mistakes as a Programmer <br>__Gender pay gap - Historical Data Perspective</code> <br />
            <br />
        <code>---AGI---</code> <br />
            <strong> _ </strong>
            <code>Estimated Best Efforts (Strava):</code> <br />
            <code>__Running: 400m in 02:02</code> <br />
            <code>__Running: 1/2 mile in 7:17</code> <br />
            <code>__Running: 1K in 09:22</code> <br />
            <strong> _ </strong>
            <code>Typing Speed:</code><br />
            <code>__WPM: 88 (laptop)</code> <br />
            <code>__WPM: TBC (desktop)</code> <br />
            <br /> <code>---CHR---</code> <br />
            <strong> _ </strong>
            <code>Relationship Status: Single</code> <br />
            <code>__Last in Relatinoship: 2023-11-15</code> <br />
            <code>__Total Relationship Count: 9</code> <br />
            <strong>_</strong>
            <code>Dressing Code/ Style</code> <br />
            <code>__NotFound. :3 </code> <br /> <br />
        <code>---LCK---</code> <br />
            <code>Very Lucky.</code> <br/>
        <br />
        <code>---Skills/Talent---</code> <br /> 
        <strong>_</strong><code> Mystic Empathy</code><code>[S]</code> <br /> The ability to deeply understand and connect with others' emotions and spiritual states beyond conventional empathy. <br />
        <strong>_</strong><code> Critical Insight</code><code>[S]</code> <br /> A talent for profound analysis and intuition, enabling one to see the deeper truths and solutions in complex situations. <br />
        <strong>_</strong><code> Lyrical Wordsmith</code><code>[A]</code> <br /> A masterful skill in crafting words with poetic beauty and profound meaning, captivating and moving audiences. <br />
        <strong>_</strong><code> Zen Resilience</code><code>[S]</code> <br />  The capacity to maintain inner peace and strength, regardless of external chaos or challenges, embodying tranquility. <br />
        <strong>_</strong><code> Ethereal Harmony</code><code>[S]</code> <br /> The ability to create or inspire a profound sense of unity and balance, connecting with the sublime aspects of existence. <br />
        <br />
        <code>---Status Effects---</code> <br />
        <strong>_</strong><code> Distracted Mind</code><code>[S]</code> <br /> A tendency to wander across thoughts and ideas, often leading to unexpected creativity and insights. <br>
        <strong>_</strong><code> Hope-ful/less Romantic</code><code>[A]</code> <br /> An individual's capacity to oscillate between deep, optimistic love and the despair of unrequited feelings. <br>
        <strong>_</strong><code> Eternal Debt</code><code>[B]</code> <br /> A burden or obligation that feels unending, influencing decisions and actions across a lifetime. <br>
        <strong>_</strong><code> Eclipsed Soul</code><code>[A]</code> <br /> A state where one's true essence is overshadowed by external influences or internal struggles, seeking light. <br>
        <strong>_</strong><code> Echoes of the Past</code><code>[A]</code> <br /> The resonance of previous experiences or histories that shape and influence the present in profound ways. <br>
        <br />
        <code>---StoryLine---</code> <br />
        <strong>_</strong><code>UK <strong>Chronicles</strong> (In Progress)</code> <br> Master's Degree. Origin for EXP-ER business. Odyssey <br /> 
        <strong>_</strong><code>Indian <strong>Chronicles</strong> </code> <br /> Birthplace. Family. Education. <br>
        <strong>_</strong><code>European <strong>Chronicles</strong> </code> <br /> Future Journey. <br>
        <strong>_</strong><code>Australian <strong>Chronicles</strong> </code> <br /> Future Business. <br>
        <br />
        <code>---Projects---</code> <br />
        <strong>_</strong><code>BSE-Simulation  (In Progress)</code> <br /> Robot Trading with BSE <br>
        <strong>_</strong><code>Carbon Activity  </code> <br /> Carbon Footprint Tracker <br>
        <strong>_</strong><code>Property NFT  </code> <br /> Property NFT Marketplace <br>
        <strong>_</strong><code>Music Genre</code> <br />  Music using Machine Learning & AI <br>
        <strong>_</strong><code>AnimeWisdomVault </code> <br /> Anime Quotes Collection <br>
        <strong>_</strong><code>Cheat Engine </code> <br /> CheatSheets for Programming Languages and Services <br>
        <br />
        <code>---Blog---</code> <br />
        <strong>_</strong><strong> Medium Blog Link for Journals and Poetry</strong>
        <br />
        <code>---Portfolio---</code> <br />
        <strong>_</strong><strong>Portfolio for Projects, Certifications, Testimonials, and Resume.</strong>
        <br />
        <code>---EXP-ER---</code> <br />
        <strong>_</strong><strong>Business</strong>
        <br />
        <code>---NewsLetter---</code> <br />
        <strong>_</strong><strong>Weekly Newsletter for Experiment, Experience, Expertise, and Express.</strong>
        <br />
    
    </p>
  </main>

</Layout>
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.text-header {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		font-size: 2rem;
		stroke: black;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
		text-align: left;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.storyline {
		margin-bottom: 1rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: black;
		padding: 1.5rem;
		border-radius: 8px;
		width: 90%;
	
	}
	.storyline code {
		font-size: 0.8em;
		font-weight: bold;
		background: white;
		color: black;
		border-radius: 4px;
		padding: 0.3em 0.4em;
	
	}
	.projects {
		margin-bottom: 1rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: whitesmoke;
		padding: 1.5rem;
		border-radius: 8px;
		width: 90%;
	
	}
	.projects code {
		font-size: 0.8em;
		font-weight: bold;
		background: black;
		color: white;
		border-radius: 4px;
		padding: 0.3em 0.4em;
	
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(12ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.story-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(12ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
