---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Skills / Talent">
  <div class="flex flex-col gap-1">
    <p class="text-sm font-light">
      <ul class="list-disc list-inside">
        <li>Mystic Empathy <b>[S]</b></li>
        <li>Critical Insight <b>[S]</b></li>
        <li>Lyrical Wordsmith <b>[A]</b></li>
        <li>Zen Resilience <b>[S]</b></li>
        <li>Ethereal Harmony <b>[S]</b></li>
      </ul>
    </p>
  </div>
</Card>
<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Status Effects">
  <div class="flex flex-col gap-1">
    <p class="text-sm font-light">
      <ul class="list-disc list-inside">
        <li>Distracted Mind <b>[S]</b></li>
        <li>Hope-ful/less Romantic <b>[S]</b></li>
        <li>Eternal Debt <b>[A]</b></li>
        <li>Eclipsed Soul <b>[S]</b></li>
        <li>Echoes of the Past <b>[S]</b></li>
      </ul>
    </p>
  </div>
</Card>