---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Story
      </h1>
    </header>
    <h1><b>Campaign</b></h1>
    <h3> - UK Chronicles (In Progress)</h3>
    <h1><b>Projects</b></h1>
    <h3> - Anime Wisdom Vault</h3>
    <h3> - BSE - Simulation</h3>
    <h3> - Carbon Activity</h3>
    <h3> - Music Genre</h3>
    <h3> - Wiki-Data</h3>
    <h3> - Cheat Engine</h3>
    <h1><b>Business</b></h1>
    <h3> - Exp-er LTD</h3>
    <h3> - Jiva Jewellers</h3>
    <h3> - Art-rune</h3>
    <h1><b>Location</b></h1>
    <h3> - London (Campaign)</h3>
    <h3> - New Delhi (Home)</h3>
    
    <h1><a href="mailto:akshat.pande@outlook.com"><b>Email</b></a></h1>
    </div>
  </div>
</Card>
