---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Ongoing Project</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-xs"><strong> BSE Simluation</strong> - <a href="www.github.com/pandeakshat/bse-simulation">Repository</a><br>  </p>
  <a href="https://bse-simulation.streamlit.app/">Project</a>


</Card>

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Ongoing Campaign</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-xs"><strong>UK Chronicles</strong></p>
  Current City - London
</Card>

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Ongoing Business</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-xs"><strong>Exp-er</strong> --- <a href="www.exp-er.com">Website</a></p>
  <p class="text-xs"><strong>Jiva Jewellers</strong> --- <a href="www.exp-er.com">Website</a></p>
  <p class="text-xs"><strong>Art-rune</strong> --- <a href="www.exp-er.com">Website</a></p>
</Card>

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Information Sheet</h2>
    </div>
  </div>
  <p class="text-xs"><strong>About Me</strong> --- <a href="https://pandeakshat.dev">Link</a></p>
  <p class="text-xs"><strong>Status Window Info</strong>  --- <a href="https://pandeakshat.dev">Link</a></p></p>

</Card>
